In [1]:
import pandas as pd

In [115]:
df = pd.DataFrame({'grp':['a','a','b','b','a','a','b','b'], 'value':[1,2,3,4,5,6,7,8]})

In [62]:
df

  grp  value
0   a      1
1   a      2
2   b      3
3   b      4
4   a      5
5   a      6
6   b      7
7   b      8

In [12]:
df.groupby('grp').groups

{'a': Int64Index([0, 1, 4, 5], dtype='int64'),
 'b': Int64Index([2, 3, 6, 7], dtype='int64')}

In [9]:
df.groupby('grp').count()

     value
grp
a        4
b        4

In [10]:
df.groupby('grp').sum()

     value
grp
a       14
b       22

In [27]:
c = 0
df['count'] = df.groupby('grp').apply(lambda  x :  x.name)

In [28]:
df

  grp  value count
0   a      1   NaN
1   a      2   NaN
2   b      3   NaN
3   b      4   NaN
4   a      5   NaN
5   a      6   NaN
6   b      7   NaN
7   b      8   NaN

In [81]:
def count(x) :
    
    temp  = x.grp[0]
    count = 1
    x['count'] = 0
    for c in range(len(x.grp)) :

        print(" mmm ",x.grp[c])
        if temp == x.grp[c] :
                x.loc[c, ['count']] =count
                print(temp, count)
        else :
                temp = x.grp[c]
                count += 1
                x.loc[c,'count'] =count

In [82]:
count(df)

 mmm  a
a 1
 mmm  a
a 1
 mmm  b
 mmm  b
b 2
 mmm  a
 mmm  a
a 3
 mmm  b
 mmm  b
b 4

In [83]:
df

  grp  value  count
0   a      1      1
1   a      2      1
2   b      3      2
3   b      4      2
4   a      5      3
5   a      6      3
6   b      7      4
7   b      8      4

In [96]:
def count_(x) :
    global df
    temp  = x[0]
    count = 1
    df['count'] = 0
    for c in range(len(x)) :

        print(" mmm ",x[c])
        if temp == x[c] :
                df.loc[c, ['count']] =count
                print(temp, count)
        else :
                temp = x[c]
                count += 1
                df.loc[c,['count']] =count

In [97]:
df.groupby(['grp','value']).grp

In [105]:

df['count'] = df.groupby(['grp','value']).transform(lambda x:  count(x))

ValueError: Wrong number of items passed 0, placement implies 1

In [118]:
df ['count'] = df.groupby("grp").rank( method = "first")

In [119]:
df

  grp  value  count
0   a      1    1.0
1   a      2    2.0
2   b      3    1.0
3   b      4    2.0
4   a      5    3.0
5   a      6    4.0
6   b      7    3.0
7   b      8    4.0

In [116]:
df ['count'] = df.groupby("grp").rank( method = "dense")

In [117]:
df

  grp  value  count
0   a      1    1.0
1   a      2    2.0
2   b      3    1.0
3   b      4    2.0
4   a      5    3.0
5   a      6    4.0
6   b      7    3.0
7   b      8    4.0

In [122]:
df.grp.rank(method='dense')

0    1.0
1    1.0
2    2.0
3    2.0
4    1.0
5    1.0
6    2.0
7    2.0
Name: grp, dtype: float64

In [125]:
help(df.rank)

Help on method rank in module pandas.core.generic:

rank(axis=0, method='average', numeric_only=None, na_option='keep', ascending=True, pct=False) method of pandas.core.frame.DataFrame instance
    Compute numerical data ranks (1 through n) along axis. Equal values are
    assigned a rank that is the average of the ranks of those values.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        index to direct ranking
    method : {'average', 'min', 'max', 'first', 'dense'}
        * average: average rank of group
        * min: lowest rank in group
        * max: highest rank in group
        * first: ranks assigned in order they appear in the array
        * dense: like 'min', but rank always increases by 1 between groups
    numeric_only : boolean, default None
        Include only float, int, boolean data. Valid only for DataFrame or
        Panel objects
    na_option : {'keep', 'top', 'bottom'}
        * keep: leave NA values where they are
        * top: smallest rank if ascending
        * bottom: smallest rank if descending
    ascending : boolean, default True
        False for ranks by high (1) to low (N)
    pct : boolean, default False
        Computes percentage rank of data

    Returns
    -------
    ranks : same type as caller

In [127]:
df.grp.rank(method='min')

0    1.0
1    1.0
2    5.0
3    5.0
4    1.0
5    1.0
6    5.0
7    5.0
Name: grp, dtype: float64

In [128]:
df__ = pd.DataFrame({'grp':['a','a','b','b','a1','a1','b2','b2'], 'value':[1,2,3,4,5,6,7,8]})

In [130]:
df__

  grp  value
0   a      1
1   a      2
2   b      3
3   b      4
4  a1      5
5  a1      6
6  b2      7
7  b2      8

In [131]:
df__.groupby(['grp']).rank(method="dense")

   value
0    1.0
1    2.0
2    1.0
3    2.0
4    1.0
5    2.0
6    1.0
7    2.0

In [132]:
df

  grp  value  count
0   a      1    1.0
1   a      2    2.0
2   b      3    1.0
3   b      4    2.0
4   a      5    3.0
5   a      6    4.0
6   b      7    3.0
7   b      8    4.0

In [133]:
df1 = df[['grp','value']].copy()

In [136]:
df1['count'] = 0

In [138]:
ll = df1.grp.tolist()

In [139]:
ll

['a', 'a', 'b', 'b', 'a', 'a', 'b', 'b']

In [137]:
df1['count'].transform(lambda x: x+1)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: count, dtype: int64

In [149]:
df1.groupby('grp')['value'].transform(pd.Series.value_counts)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: value, dtype: int64

In [174]:
a = df1.groupby("grp")

In [166]:
def aaa(ll) : 
    x = []
    temp = ll[0]
    cnt = 0
    for i in ll :
        if temp == i :
            pass
        else :
            temp = i
            cnt += 1
        x.append(cnt)
    return x

In [176]:
ss = aaa(ll)

In [177]:
df1["xxx"] = ss

In [178]:
a.get_group('a')

  grp  value  count  xxx
0   a      1      0    0
1   a      2      0    0
4   a      5      0    2
5   a      6      0    2

In [182]:
df1['count'] = df1.groupby(["grp","xxx"])['xxx'].apply(lambda value: value+1 )

In [183]:
df1

  grp  value  count  xxx
0   a      1      1    0
1   a      2      1    0
2   b      3      2    1
3   b      4      2    1
4   a      5      3    2
5   a      6      3    2
6   b      7      4    3
7   b      8      4    3

In [185]:
df_1 = pd.DataFrame({'grp':['a','a','b','b','a','a','b','b'], 'value':[1,2,3,4,5,6,7,8]})

In [190]:
def column_add(ll) : 
    x = []
    temp = ll[0]
    cnt = 0
    for i in ll :
        if temp == i :
            pass
        else :
            temp = i
            cnt += 1
        x.append(cnt)
    return x

ll = df_1.grp.tolist()
ss = aaa(ll)
df_1["xxx"] = ss

df_1['count'] = df_1.groupby(["grp","xxx"])['xxx'].apply(lambda value: value+1 )

In [191]:
ss

[0, 0, 1, 1, 2, 2, 3, 3]

In [192]:
df_1

  grp  value  xxx  count
0   a      1    0      1
1   a      2    0      1
2   b      3    1      2
3   b      4    1      2
4   a      5    2      3
5   a      6    2      3
6   b      7    3      4
7   b      8    3      4