In [1]:
import pandas as pd

In [115]:
df = pd.DataFrame({'grp':['a','a','b','b','a','a','b','b'], 'value':[1,2,3,4,5,6,7,8]})

In [62]:
df

  grp  value
0   a      1
1   a      2
2   b      3
3   b      4
4   a      5
5   a      6
6   b      7
7   b      8

In [12]:
df.groupby('grp').groups

{'a': Int64Index([0, 1, 4, 5], dtype='int64'),
 'b': Int64Index([2, 3, 6, 7], dtype='int64')}

In [9]:
df.groupby('grp').count()

     value
grp
a        4
b        4

In [10]:
df.groupby('grp').sum()

     value
grp
a       14
b       22

In [27]:
c = 0
df['count'] = df.groupby('grp').apply(lambda  x :  x.name)

In [28]:
df

  grp  value count
0   a      1   NaN
1   a      2   NaN
2   b      3   NaN
3   b      4   NaN
4   a      5   NaN
5   a      6   NaN
6   b      7   NaN
7   b      8   NaN

In [81]:
def count(x) :
    
    temp  = x.grp[0]
    count = 1
    x['count'] = 0
    for c in range(len(x.grp)) :

        print(" mmm ",x.grp[c])
        if temp == x.grp[c] :
                x.loc[c, ['count']] =count
                print(temp, count)
        else :
                temp = x.grp[c]
                count += 1
                x.loc[c,'count'] =count

In [82]:
count(df)

 mmm  a
a 1
 mmm  a
a 1
 mmm  b
 mmm  b
b 2
 mmm  a
 mmm  a
a 3
 mmm  b
 mmm  b
b 4

In [83]:
df

  grp  value  count
0   a      1      1
1   a      2      1
2   b      3      2
3   b      4      2
4   a      5      3
5   a      6      3
6   b      7      4
7   b      8      4

In [96]:
def count_(x) :
    global df
    temp  = x[0]
    count = 1
    df['count'] = 0
    for c in range(len(x)) :

        print(" mmm ",x[c])
        if temp == x[c] :
                df.loc[c, ['count']] =count
                print(temp, count)
        else :
                temp = x[c]
                count += 1
                df.loc[c,['count']] =count

In [97]:
df.groupby(['grp','value']).grp

In [105]:

df['count'] = df.groupby(['grp','value']).transform(lambda x:  count(x))

ValueError: Wrong number of items passed 0, placement implies 1

In [118]:
df ['count'] = df.groupby("grp").rank( method = "first")

In [119]:
df

  grp  value  count
0   a      1    1.0
1   a      2    2.0
2   b      3    1.0
3   b      4    2.0
4   a      5    3.0
5   a      6    4.0
6   b      7    3.0
7   b      8    4.0

In [116]:
df ['count'] = df.groupby("grp").rank( method = "dense")

In [117]:
df

  grp  value  count
0   a      1    1.0
1   a      2    2.0
2   b      3    1.0
3   b      4    2.0
4   a      5    3.0
5   a      6    4.0
6   b      7    3.0
7   b      8    4.0

In [122]:
df.grp.rank(method='dense')

0    1.0
1    1.0
2    2.0
3    2.0
4    1.0
5    1.0
6    2.0
7    2.0
Name: grp, dtype: float64

In [125]:
help(df.rank)

Help on method rank in module pandas.core.generic:

rank(axis=0, method='average', numeric_only=None, na_option='keep', ascending=True, pct=False) method of pandas.core.frame.DataFrame instance
    Compute numerical data ranks (1 through n) along axis. Equal values are
    assigned a rank that is the average of the ranks of those values.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        index to direct ranking
    method : {'average', 'min', 'max', 'first', 'dense'}
        * average: average rank of group
        * min: lowest rank in group
        * max: highest rank in group
        * first: ranks assigned in order they appear in the array
        * dense: like 'min', but rank always increases by 1 between groups
    numeric_only : boolean, default None
        Include only float, int, boolean data. Valid only for DataFrame or
        Panel objects
    na_option : {'keep', 'top', 'bottom'}
        * keep: leave NA values where they are
        * top: smallest rank if ascending
        * bottom: smallest rank if descending
    ascending : boolean, default True
        False for ranks by high (1) to low (N)
    pct : boolean, default False
        Computes percentage rank of data

    Returns
    -------
    ranks : same type as caller

In [127]:
df.grp.rank(method='min')

0    1.0
1    1.0
2    5.0
3    5.0
4    1.0
5    1.0
6    5.0
7    5.0
Name: grp, dtype: float64

In [128]:
df__ = pd.DataFrame({'grp':['a','a','b','b','a1','a1','b2','b2'], 'value':[1,2,3,4,5,6,7,8]})

In [130]:
df__

  grp  value
0   a      1
1   a      2
2   b      3
3   b      4
4  a1      5
5  a1      6
6  b2      7
7  b2      8

In [131]:
df__.groupby(['grp']).rank(method="dense")

   value
0    1.0
1    2.0
2    1.0
3    2.0
4    1.0
5    2.0
6    1.0
7    2.0

In [132]:
df

  grp  value  count
0   a      1    1.0
1   a      2    2.0
2   b      3    1.0
3   b      4    2.0
4   a      5    3.0
5   a      6    4.0
6   b      7    3.0
7   b      8    4.0

In [133]:
df1 = df[['grp','value']].copy()

In [136]:
df1['count'] = 0

In [138]:
ll = df1.grp.tolist()

In [139]:
ll

['a', 'a', 'b', 'b', 'a', 'a', 'b', 'b']

In [137]:
df1['count'].transform(lambda x: x+1)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: count, dtype: int64

In [149]:
df1.groupby('grp')['value'].transform(pd.Series.value_counts)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: value, dtype: int64

In [174]:
a = df1.groupby("grp")

In [166]:
def aaa(ll) : 
    x = []
    temp = ll[0]
    cnt = 0
    for i in ll :
        if temp == i :
            pass
        else :
            temp = i
            cnt += 1
        x.append(cnt)
    return x

In [176]:
ss = aaa(ll)

In [177]:
df1["xxx"] = ss

In [178]:
a.get_group('a')

  grp  value  count  xxx
0   a      1      0    0
1   a      2      0    0
4   a      5      0    2
5   a      6      0    2

In [182]:
df1['count'] = df1.groupby(["grp","xxx"])['xxx'].apply(lambda value: value+1 )

In [183]:
df1

  grp  value  count  xxx
0   a      1      1    0
1   a      2      1    0
2   b      3      2    1
3   b      4      2    1
4   a      5      3    2
5   a      6      3    2
6   b      7      4    3
7   b      8      4    3

In [185]:
df_1 = pd.DataFrame({'grp':['a','a','b','b','a','a','b','b'], 'value':[1,2,3,4,5,6,7,8]})

In [190]:
def column_add(ll) : 
    x = []
    temp = ll[0]
    cnt = 0
    for i in ll :
        if temp == i :
            pass
        else :
            temp = i
            cnt += 1
        x.append(cnt)
    return x

ll = df_1.grp.tolist()
ss = aaa(ll)
df_1["xxx"] = ss

df_1['count'] = df_1.groupby(["grp","xxx"])['xxx'].apply(lambda value: value+1 )

In [191]:
ss

[0, 0, 1, 1, 2, 2, 3, 3]

In [192]:
df_1

  grp  value  xxx  count
0   a      1    0      1
1   a      2    0      1
2   b      3    1      2
3   b      4    1      2
4   a      5    2      3
5   a      6    2      3
6   b      7    3      4
7   b      8    3      4

In [193]:
help(df_1.groupby)

Help on method groupby in module pandas.core.generic:

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs) method of pandas.core.frame.DataFrame instance
    Group DataFrame or Series using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, or list of labels
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If an ndarray is passed, the
        values are used as-is determine the groups. A label or list of
        labels may be passed to group by the columns in ``self``. Notice
        that a tuple is interpreted a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1).
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels.
    as_index : bool, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output.
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group.
    group_keys : bool, default True
        When calling apply, add group keys to index to identify pieces.
    squeeze : bool, default False
        Reduce the dimensionality of the return type if possible,
        otherwise return a consistent type.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionadded:: 0.23.0

    **kwargs
        Optional, only accepts keyword argument 'mutated' and is passed
        to groupby.

    Returns
    -------
    DataFrameGroupBy or SeriesGroupBy
        Depends on the calling object and returns groupby object that
        contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <http://pandas.pydata.org/pandas-docs/stable/groupby.html>`_ for more.

    Examples
    --------
    >>> df = pd.DataFrame({'Animal' : ['Falcon', 'Falcon',
    ...                                'Parrot', 'Parrot'],
    ...                    'Max Speed' : [380., 370., 24., 26.]})
    >>> df
       Animal  Max Speed
    0  Falcon      380.0
    1  Falcon      370.0
    2  Parrot       24.0
    3  Parrot       26.0
    >>> df.groupby(['Animal']).mean()
            Max Speed
    Animal
    Falcon      375.0
    Parrot       25.0

    **Hierarchical Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Capitve', 'Wild', 'Capitve', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> df = pd.DataFrame({'Max Speed' : [390., 350., 30., 20.]},
    ...                    index=index)
    >>> df
                    Max Speed
    Animal Type
    Falcon Capitve      390.0
           Wild         350.0
    Parrot Capitve       30.0
           Wild          20.0
    >>> df.groupby(level=0).mean()
            Max Speed
    Animal
    Falcon      370.0
    Parrot       25.0
    >>> df.groupby(level=1).mean()
             Max Speed
    Type
    Capitve      210.0
    Wild         185.0

In [195]:
 df_1.groupby(["grp"],level=1)['xxx'].apply(lambda value: value+1 )

ValueError: level > 0 or level < -1 only valid with MultiIndex

In [203]:
a = {'a' :[[1,1,2],[2,3,4],[3,4,5]]}

In [204]:
s = pd.DataFrame(a)

In [205]:
s

           a
0  [1, 1, 2]
1  [2, 3, 4]
2  [3, 4, 5]

In [207]:
s['a'].apply(pd.Series)

   0  1  2
0  1  1  2
1  2  3  4
2  3  4  5

In [ ]:
a = {'a' :[[[1,1,2],[2,3,4],[3,4,5]]]}

In [239]:
ds = pd.DataFrame.from_dict({'a':["[1,2,3]"]})

In [240]:
ds['a'] = ds['a'].str.replace("[","")

In [241]:
ds['a'] = ds['a'].str.replace("]","")

In [242]:
ds

       a
0  1,2,3

In [247]:
ds['a'].str.split(',').apply(pd.Series)

   0  1  2
0  1  2  3

In [226]:
ds.dtypes

a    object
dtype: object

In [233]:
ds_1 = ds['a'].tolist()

In [235]:
ds_1 [0] = list(ds_1[0])

In [236]:
ds_1

[['[', '1', ',', '2', ',', '3', ']']]

In [212]:
%%writefile aaa.csv
a,123

Writing aaa.csv

In [217]:
aaa = pd.read_csv("aaa.csv", header=False)

TypeError: Passing a bool to header is invalid. Use header=None for no header or header=int or list-like of ints to specify the row(s) making up the column names

In [216]:
aaa

Empty DataFrame
Columns: [a, 123]
Index: []

In [219]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP