## 예제 4-1 : Sequence 내장 타입의 인스턴스 Namespce 미존재

In [1]:
l = [1,2,3]

### 리스트 객체에도 이름공간이 없다. 이는 리스트 객체 속성을 갱신할 수 없다

In [2]:
try :
    l.__dict__
except Exception as e :
    print(e)

'list' object has no attribute '__dict__'

## 추상 클래스 알아보기

In [122]:
import collections.abc as abc

In [123]:
abc.Sequence.__subclasses__()

[collections.abc.ByteString,
 collections.abc.MutableSequence,
 collections.UserString,
 pathlib._PathParents]

In [125]:
abc.MutableSequence.__subclasses__()

[collections.UserList]

In [126]:
issubclass(list, abc.Sequence)

True

In [127]:
issubclass(list, abc.MutableSequence)

True

### 리스트 클래스를 상속해서 클래스를 만들 경우는 객체의 이름공간이 만들어진다.

### 클래스 내의 객체의 속성을 만드는 초기화 함수를 정의한다

### 리스트 클래스의 초기화 함수에는 하나의 인자 value만 들어간다

In [3]:
class List(list) :
    def __init__(self, name, value) :
        super().__init__(value)
        self.name = name

###  리스트 클래스를 가지고 객체를 생성한다.
###   클래스 생성자는 초기화 함수의 두번째와 세번째 매개변수와 매핑되는 인자를 넣어야 한다

In [4]:
l = List("리스트",[1,2,3])

print(l.__dict__)

{'name': '리스트'}

### 수퍼 클래스 알아보기

### 첫번재 인자는 클래스, 두번째 인자는 객체를 넣어서 상위 클래스를 참조한다

In [5]:
super(List, l)

In [6]:
lll = super(List, l)

In [7]:
type(lll)

super

In [8]:
help(lll.__init__)

Help on method-wrapper object:

__init__ = class method-wrapper(object)
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __objclass__
 |
 |  __self__
 |
 |  __text_signature__

### 리스트 클래스를 상속해서 덧셈 연산도 가능하다.
### 이 객체의 이름공간을 확인하면 name 속성이 추가된 것을 알 수 있다.
### 리스트 객체는 이름공간이 없지만 사용자 정의 클래스는 객체의 이름공간을 가진다

In [9]:
print(l+l)
print(l.__dict__)

[1, 2, 3, 1, 2, 3]
{'name': '리스트'}

### 리스트를 상속해서 구현할 대는 collections 모듈에 있는 UserList 클래스를 사용한다

In [10]:
import collections as cols

### 리스트 클래스를 상속하지 않고 UserList를 상속해서 리스트 클래스를 확장한다

In [11]:
cols.UserList

collections.UserList

### 덧셈 연산을 처리하는 스페셜 메소드를 추가해서 정의한다.

In [12]:
class List_(cols.UserList) :
    def __init__(self, name, value) :
        super().__init__(value)
        self.name = name
        
    def __add__(self, other) :
        return self.data + other.data

In [13]:
l__ = List_("리스트 확장",[1,2,3])

print(l__.__dict__)

{'data': [1, 2, 3], 'name': '리스트 확장'}

In [14]:
print(l__+l__)
print(l__.__dict__)

[1, 2, 3, 1, 2, 3]
{'data': [1, 2, 3], 'name': '리스트 확장'}

## 예제 4-2 :  문자열은 변경불가

In [15]:
s = "창덕"

print(s[0])

창

In [16]:
try :
    s[0] = "성"
except Exception as e :
    print(e)

'str' object does not support item assignment

In [17]:
try :
    str.__setitem__
except Exception as e :
    print(e)

type object 'str' has no attribute '__setitem__'

###  정규 표현식  모듈 처리
### 문자열에 숫자를 두군데 정의한다

In [18]:
import re 
  
# initializing string  
test_string = "There are 2 apples for 4 persons"

In [19]:
# printing original string  
print("The original string : " + test_string)

The original string : There are 2 apples for 4 persons

### 특정 숫자를 가져오기 위해 \d+ 정규표현식을 정의하고 findall로 문자열에 숫자를 전부 가져옵니다

In [20]:
# using re.findall() 
# getting numbers from string  
temp = re.findall(r'\d+', test_string) 
print(temp)

['2', '4']

In [21]:
res = list(map(int, temp))

In [22]:
res

[2, 4]

### 순환문으로 확인하면 int 클래스로 temp 변수에 저장한 문자열을 정수로 형변환을 처리한다

In [23]:
for i in map(int, temp) :
    print(i)

2
4

In [24]:
map(int, temp)

### 리스트 컴프리헨션의 축약형으로 반복형이나 반복자에 별표를 붙여서 실행할 수 있다

In [25]:
[*map(int, temp)]

[2, 4]

### 위의 표현과 동일한 보통의 컴프리헨션 표기방식이다

In [26]:
[ x for x in map(int, temp)]

[2, 4]

### 반복형인 range도 별표 표기법으로 처리가 가능하다

In [27]:
[*range(4)]

[0, 1, 2, 3]

In [28]:
[ x for x in range(4)]

[0, 1, 2, 3]

### 결과를 확인하면 2개의 숫자를 가져옵니다

In [29]:
# print result 
print("The numbers list is : " + str(res))

The numbers list is : [2, 4]

## 예제 4-3 : 튜플(tuple) 변경불가

In [30]:
t = ("고","요","한")

print(t[0])

고

In [31]:
try :
     t[0] = "김"
except Exception as e :
    print(e)

'tuple' object does not support item assignment

In [32]:
try :
    tuple.__setitem__
except Exception as e :
    print(e)

type object 'tuple' has no attribute '__setitem__'

## 예제 4-4 : 리스트(list) 원소 변경

In [33]:
l = ["전","민","수"]

print(type(l))
l[0] = "김"

print(l)

<class 'list'>
['김', '민', '수']

In [34]:
list.__setitem__

In [35]:
list.__delitem__

## 예제 4-5 : 원소의 개수 확인

In [36]:
s = "강대명"
l = ["고","요","한"]

print(len(s))
print(len(l))

3
3

## 예제 4-6 :  반복형을 반복자로 변환

In [37]:
s = "강대명"
si = iter(s)
print(si)

for i in si :
    print(i)

<str_iterator object at 0x000001E8B824DEF0>
강
대
명

In [38]:
l = ["고","요","한"]
li = iter(l)
print(li)
for i in li :
    print(i)

<list_iterator object at 0x000001E8B8250278>
고
요
한

## 예제 4-7 :  원소들에 대한 포함여부 확인하기

In [39]:
s = "강대명"
print("대" in s)

True

In [40]:
l = ["고","요","한"]
print("한" in l)

True

## 예제 4-8 :  변경 가능한 자료형의 메소드는 내부를 갱신

In [41]:
l = ["고","가","한"]

c = l.sort()
print(c)
print(l)

None
['가', '고', '한']

## 예제 4-9  : 변경 불가능한 경우는 별도의 객체를 만들어서 반환 처리

In [42]:
s = "강대명"

sr = s.replace("명","한")

print(id(s), s)
print(id(sr),sr)

2099033036336 강대명
2099033514192 강대한

## 예제 4-10 :  변경불가능한 자료형의  interning 처리

In [43]:
t = ("고","가","한")

ti = tuple(t)
print(t is ti)

True

In [44]:
t = ("고","가","한")
ti = ("고","가","한")

print(t is ti)

False

In [45]:
l = ["고","요","한"]
li = list(l)
print(l is li)

False

## 예제 4-11 :  문자열을 리터럴과 생성자로 생성

In [46]:
sl = "파이썬"
print(sl)
print(type(sl))

파이썬
<class 'str'>

In [47]:
s = str(123)
ss = str("성대현")
sf = str(123.00)


print(s, type(s))
print(ss, type(ss))
print(sf, type(sf))

123 <class 'str'>
성대현 <class 'str'>
123.0 <class 'str'>

In [48]:
b = b"abc"

c = b.decode()
print(type(c),c)

<class 'str'> abc

## 예제 4-12 :  대소문자 처리

In [49]:
sl = "spiderman"

sh = sl.upper()
print(sh)

su = "WONDER WOMEN"
sh = su.lower()
print(sh)

SPIDERMAN
wonder women

In [50]:
su = "WONDER WOMEN"
st = su.title()
print(st)

Wonder Women

In [51]:
sl = "spiderman is ..."
sc = sl.capitalize()
print(sc)

Spiderman is ...

In [52]:
su = "WONDER WOMEN"
scc = su.casefold()
print(scc)

wonder women

## 예제 4-13 : 문자열 위치 조정해서 꾸미기

In [53]:
s = "빅데이터와 인공지능"

sc = s.center(30,"%")
print(sc)
sb = s.center(30)
print(sb)

%%%%%%%%%%빅데이터와 인공지능%%%%%%%%%%
          빅데이터와 인공지능

In [54]:
s = "빅데이터와 인공지능"

sc = s.ljust(30,"%")
print(sc)
sb = s.ljust(30)
print(sb)

빅데이터와 인공지능%%%%%%%%%%%%%%%%%%%%
빅데이터와 인공지능

In [55]:
s = "빅데이터와 인공지능"

sc = s.rjust(30,"%")
print(sc)
sb = s.rjust(30)
print(sb)

%%%%%%%%%%%%%%%%%%%%빅데이터와 인공지능
                    빅데이터와 인공지능

In [56]:
s = "빅데이터와 인공지능"

sc = s.center(30,"파")
print(sc)

파파파파파파파파파파빅데이터와 인공지능파파파파파파파파파파

In [57]:
sb = s.center(30,"bb")
print(sb)

TypeError: The fill character must be exactly one character long

## 예제 4-14 : 특정 문자 세기 및 찾기

In [ ]:
s = "특정 문자 찾기를 한다. 찾은 문자는"

print(s.count("찾"))

In [ ]:
s = "특정 문자 찾기를 한다. 찾은 문자는"

print(s.find("찾"))
print(s[s.find("찾")])

print(s.find("찾", 7))

In [ ]:
print(s.rfind("찾"))
print(s[s.rfind("찾")])

print(s.rfind("찾", 0,10))

In [ ]:
s = "특정 문자 찾기를 한다. 찾은 문자는"

print(s.index("찾"))
print(s[s.index("찾")])
print(s.index("찾", 7))

In [ ]:
print(s.rindex("찾"))
print(s[s.rindex("찾")])
print(s.rindex("찾", 0,10))

## 예제 4-15 :  문자열 패턴 매칭하기

In [ ]:
s = dir(str)

print(type(s))
print(s[0])

In [ ]:
count = 1
for i in s :
    if i.startswith("__") :
        continue
    else :
        print(i, end=" ")
        
    if count % 6 == 0 :
        print()
    count += 1

In [ ]:
count = 1
for i in s :
    if i.endswith("__") :
        print(i, end=" ")
    else :
        continue
        
    if count % 6 == 0 :
        print()
    count += 1

## 예제 4-16 : 빈 문자열로 분리하고 결합

In [ ]:
s = "빈 문자열로 분리하고 결합하기"

ss = s.split(" ")
print(ss)

In [ ]:
sl = " ".join(ss)
print(sl)

## 예제 4-17 : 개행문자가 있을 경우 문자열 분리

In [ ]:
import pprint

s ="""A simple object subclass 
that provides attribute access 
to its namespace, 
as well as a meaningful repr."""

ss = s.split("\n")
pprint.pprint(ss)

In [58]:
sl1 = " ".join(ss[:2])
print(sl1)

sl2 = " ".join(ss[2:])
print(sl2)

성 대
현

## 예제 4-18 :  문자열 길이

In [59]:
s = "문자열 검색"

print(len(s))

sa = " string indexing"
print(len(sa))

6
16

In [60]:
s = "문자열 검색"

print(s[0]) 
print(s[1])

문
자

In [61]:
s = "문자열 검색"

print(s[-1]) 
print(s[-2])

색
검

## 예제 4-19 : 암호화(encode)와 복호화(decode) 기준

In [62]:
s = "성균관대학교"

print(len(s))

sb = s.encode("utf-8")
print(len(sb))
print(sb)

6
18
b'\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80\xed\x95\x99\xea\xb5\x90'

In [63]:
sc = sb.decode("utf-8")
print(len(sc))
print(sc)

6
성균관대학교

In [64]:
s = "성균관대학교"
print(s[0].encode("utf-16"))
sb = s.encode("utf-16")
print(sb)
print(sb.decode("utf-16"))

b'\xff\xfe1\xc1'
b'\xff\xfe1\xc1\xe0\xad\x00\xad\x00\xb3Y\xd5P\xad'
성균관대학교

In [65]:
s = "성균관대학교"

print(s[0].encode("utf-16le"))
print('\uc131')
sb = s.encode("utf-16le")
print(sb)
print(sb.decode("utf-16le"))

b'1\xc1'
성
b'1\xc1\xe0\xad\x00\xad\x00\xb3Y\xd5P\xad'
성균관대학교

In [66]:
s = "성균관대학교"

print(s[0].encode("utf-16be"))
print('\uc131')

sb = s.encode("utf-16be")
print(sb)
print(sb.decode("utf-16be"))

b'\xc11'
성
b'\xc11\xad\xe0\xad\x00\xb3\x00\xd5Y\xadP'
성균관대학교

## 예제 4-20 :  바이트 생성

In [67]:
b = b"hello"
print(type(b), b)

<class 'bytes'> b'hello'

In [68]:
s = "성균관대학교"
bs = bytes(s.encode("utf-8"))
print(type(bs))
print(bs)

print(bytes("성균관대학교",encoding="utf-8"))

<class 'bytes'>
b'\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80\xed\x95\x99\xea\xb5\x90'
b'\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80\xed\x95\x99\xea\xb5\x90'

## 예제 4-21 :  바이트 자료형의 메소드 확인

In [69]:
b = set(dir(bytes))
s = set(dir(str))

bs = b - s 
print(bs)

{'hex', 'decode', 'fromhex'}

In [70]:
bb = b"Hello"
bh = bb.hex()

print(type(bh), bh)

<class 'str'> 48656c6c6f

In [71]:
bfh = bytes.fromhex('B901EF')
print(bfh)

b'\xb9\x01\xef'

## 예제 4-22 :  encode/decode 메소드 처리

In [72]:
s = "하늘과 바람과 별과 시"
b = s.encode("utf-8")

print(type(b))

<class 'bytes'>

In [73]:
bs = b.decode("utf-8")
print(type(bs))
print(bs)

<class 'str'>
하늘과 바람과 별과 시

## 예제 4-23 :  bytes/str 생성자에서 직접 encode, decode 하기

In [74]:
s = "휀휁휂휃휄"

b = s.encode("utf-8")

print(b)

bb = bytes(s, "utf-8")
print(bb)

print(b == bb)

b'\xed\x9c\x80\xed\x9c\x81\xed\x9c\x82\xed\x9c\x83\xed\x9c\x84'
b'\xed\x9c\x80\xed\x9c\x81\xed\x9c\x82\xed\x9c\x83\xed\x9c\x84'
True

In [75]:
print(str(bb, "utf-8"))

휀휁휂휃휄

## 예제 4-24 :  bytes로 생성한 것을 bytearray로 변환

In [76]:
b = b"abcde"
ba = bytearray(b)

print(type(ba))
print(ba)

bs = bytearray("바이트어레이","utf-8")
print(bs)

<class 'bytearray'>
bytearray(b'abcde')
bytearray(b'\xeb\xb0\x94\xec\x9d\xb4\xed\x8a\xb8\xec\x96\xb4\xeb\xa0\x88\xec\x9d\xb4')

## 예제 4-25 :  버퍼 처리하기 : bytearray

In [77]:
buffer = bytearray(20)

print(buffer)

b = b"abcde"
buffer[:len(b)] = b
print(buffer)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
bytearray(b'abcde\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

## 예제 4-26 :  bytes와 bytearray 메소드 차이 확인

In [78]:
import pprint

bs = set(dir(bytes))
bb = set(dir(bytearray))

pprint.pprint(bb - bs)

{'__alloc__',
 '__delitem__',
 '__iadd__',
 '__imul__',
 '__setitem__',
 'append',
 'clear',
 'copy',
 'extend',
 'insert',
 'pop',
 'remove',
 'reverse'}

In [79]:
buffer = bytearray(20)

print(buffer)

buffer.insert(0, 31)
print(buffer)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
bytearray(b'\x1f\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [80]:
print(buffer)
cc = buffer.pop(0)
print(cc)
print(buffer)

bytearray(b'\x1f\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
31
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [81]:
print(buffer)
buffer.append(31) 
print(buffer)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x1f')

## 예제 4-27 :  바이트 어레이 갱신할 때 값을 할당하는 방법

In [82]:
buffer[:3] = b'abc'
print(buffer)

bytearray(b'abc\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x1f')

In [83]:
try :
     buffer[0] = b'a'
except Exception as e :
    print(e)

'bytes' object cannot be interpreted as an integer

In [84]:
try : 
    buffer.insert(0,b'a')
except Exception as e :
    print(e)

'bytes' object cannot be interpreted as an integer

## 예제 4-28 : 튜플 리터럴 및 생성자로 생성

In [85]:
t = 1,2,3,4
print(t)
t1 = (1,2,3,4)
print(t1)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [86]:
def func(x,y) :
    return x,y 

t2 = func(10,10)
print(type(t2))
print(t2)

<class 'tuple'>
(10, 10)

In [87]:
t = tuple([1,2,3,4])
print(t)
ts = tuple("광화문")
print(ts)

(1, 2, 3, 4)
('광', '화', '문')

## 예제 4-28 :  단일 원소도 쉼표로 분리

In [88]:
o = (1)
t = (1,)

print(type(o), o)
print(type(t), t)

<class 'int'> 1
<class 'tuple'> (1,)

## 예제 4-29 :  튜플의 count, index 메소드

In [89]:
t = dir(tuple)

for i in t :
    if not i.startswith("__") :
        print(i)

count
index

In [90]:
t = (1,2,3,2,3)

print(t.count(2))
print(t.index(2))

print(t.index(2,3))

2
1
3

## 예제 4-30 :  원소가 리스트일 경우

In [91]:
t = (1,2,[1,2])
print(id(t))
t[2][0] = 99
print(t)

print(id(t))

2099033291944
(1, 2, [99, 2])
2099033291944

## 예제 4-31 :  리스트 생성하기

In [92]:
l1 = []
print(l1)
print(type(l1))

[]
<class 'list'>

In [93]:
l2 = [1,2,3]
print(l2)

[1, 2, 3]

In [94]:
l3 = list((1,2,3,))
print(l3)

[1, 2, 3]

## 예제 4-32 :  리스트로 선언된 변수의 별칭 사용

In [95]:
l = [1,2,3,4]

alias = l

print(alias is l)
print(alias ==  l)

True
True

## 예제 4-33 :  리스트로 copy 메소드 사용

In [96]:
l = [1,2,3,4]

lc = l.copy()

print(lc == l)
print(lc is l)

True
False

In [97]:
ld = list(l)

print(ld == l)
print(ld is l)

True
False

## 예제 4-34 :  리스트 내의 원소로 리스트를 가질 경우 copy 메소드 사용

In [98]:
l = [1,2,3,4]
print(id(l))

ll = [l,l]
print(ll)
print(id(ll[0]),id(ll[1]))

2099034168968
[[1, 2, 3, 4], [1, 2, 3, 4]]
2099034168968 2099034168968

In [99]:
lc = ll.copy()

print(lc)
lc[0][0] = 999

print(l)
print(lc)

[[1, 2, 3, 4], [1, 2, 3, 4]]
[999, 2, 3, 4]
[[999, 2, 3, 4], [999, 2, 3, 4]]

## 예제 4-35 : 깊은 복사(deepcopy)를 하는 이유

In [100]:
import copy

l = [1,2,3,4]

ll = [l,l]
print(ll)

lc = copy.deepcopy(ll)

print(lc)
lc[0][0] = 999

print(id(l),id(ll[0]),id(ll[1]))
print(lc)

[[1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 3, 4], [1, 2, 3, 4]]
2099034180168 2099034180168 2099034180168
[[999, 2, 3, 4], [999, 2, 3, 4]]

In [101]:
import copy

l = [1,2,3,4]

ll = [l.copy(),l.copy()]
print(ll)

lc = copy.deepcopy(ll)

print(lc)
lc[0][0] = 999

print(id(l),id(ll[0]),id(ll[1]))
print(lc)

[[1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 3, 4], [1, 2, 3, 4]]
2099034122312 2099033113928 2099033352968
[[999, 2, 3, 4], [1, 2, 3, 4]]

## 예제 4-36 : 주요 메소드

In [102]:
for i in dir(list) :
    if not i.startswith("__") :
        print(i)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

## 예제 4-37 :  리스트의 원소 추가 삭제 하기

In [103]:
ll = [] 

ll.append(1)
ll.append([2])
print(ll)

[1, [2]]

In [104]:
a = ll.pop()
print(a)
print(ll)

ll.append(2)
print(ll)

b = ll.pop(0)
print(b)
print(ll)

[2]
[1]
[1, 2]
1
[2]

## 예제 4-38 :  리스트를 합치기 : extend

In [105]:
l13 = [1,2,3]
l46 = [4,5,6]

l13.extend(l46)
print(l13)

[1, 2, 3, 4, 5, 6]

In [106]:
l9 = [1,2,3]
l = l9 + l46
print(l9)
print(l46)
print(l)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

## 예제 4-39 :  리스트 특정 위치에 삽입 및 전체 삭제

In [107]:
l2 = [1,2,3,4]
l2.insert(0,5)
print(l2)

l2.insert(0,5)
print(l2)

[5, 1, 2, 3, 4]
[5, 5, 1, 2, 3, 4]

In [108]:

l2.remove(5)
print(l2)

l2.remove(5)
print(l2)

[5, 1, 2, 3, 4]
[1, 2, 3, 4]

In [109]:
l2.clear()
print(l2)

[]

## 예제 4-40 :  리스트 내의 동일원소를 확인하고 삭제하기

In [110]:
l4 = [1,2,3,4,5,2,2,2]

c = l4.count(2)
print(c)

for i in range(c) :
    l4.remove(2)

print(l4)

4
[1, 3, 4, 5]

## 예제 4-41 :  리스트 원소들 정렬하기 : sort, reverse

In [111]:
l4 = [1,2,3,4,5,2,2,2]

l4.sort()
print(l4)

l4.reverse() 
print(l4)

[1, 2, 2, 2, 2, 3, 4, 5]
[5, 4, 3, 2, 2, 2, 2, 1]

In [112]:
l4 = [1,2,3,4,5,2,2,2]
print(l4)

l4.sort(reverse=True)
print(l4)

[1, 2, 3, 4, 5, 2, 2, 2]
[5, 4, 3, 2, 2, 2, 2, 1]

## 예제 4-42 : 리스트로 * 연산자 비교하기

In [113]:
l = [4,5,6]

l2 = l*2

print(l2)
l.extend(l)
print(l)

[4, 5, 6, 4, 5, 6]
[4, 5, 6, 4, 5, 6]

## 예제 4-43 :  외부에 리스트 원소를 반복해서 처리하고 내부에 넣고 처리

In [114]:
row = [3] * 3
print(row)

li = []
for _ in range(3) :
    li.append(row)
    
print(li)
print(id(li[0]), id(li[1]),id(li[2]))

[3, 3, 3]
[[3, 3, 3], [3, 3, 3], [3, 3, 3]]
2099033390152 2099033390152 2099033390152

In [115]:
li[0][0] = 99

print(li)
print(row)

[[99, 3, 3], [99, 3, 3], [99, 3, 3]]
[99, 3, 3]

## 예제 4-44 : 리스트를 for 문 안에서 초기화

In [116]:
li = []
for _ in range(3) :
    row = [3] * 3
    print(id(row))
    li.append(row)
    
print(li)

2099033455304
2099033390536
2099033353288
[[3, 3, 3], [3, 3, 3], [3, 3, 3]]

In [117]:
li[0][0] = 99

print(li)
print(id(row), row)

[[99, 3, 3], [3, 3, 3], [3, 3, 3]]
2099033353288 [3, 3, 3]

## 예제 4-45 : 지능형(comprehension) 리스트로 처리하기

In [118]:
li = [ [3]*3 for _ in range(3)]
print(li)

li[0][0] = 99

print(li)

[[3, 3, 3], [3, 3, 3], [3, 3, 3]]
[[99, 3, 3], [3, 3, 3], [3, 3, 3]]

## 예제 4-46 : 클래스만 사용한 형변환

In [119]:
s = "문자열 처리"
print(repr(s))

l = list(s)
print(l)

'문자열 처리'
['문', '자', '열', ' ', '처', '리']

In [120]:
l = [1,2,3,4]

t = tuple(l)
print(t)

(1, 2, 3, 4)

In [121]:
l = [1,2,3,4]

s = str(l)
print(repr(s))

'[1, 2, 3, 4]'